# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python项目集合\jluzh_clockIn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
